.page4 {
  .title {
    width: 80%;
    margin-top: 10%;
  }
  .cont {
    width: 90%;
    margin-top: 10%;
  }
  .btn-area {
    width: 95%;
    margin-top: 10%;
    text-align: center;
  }

  .btn-area a {
    $zoom: 0.5;
    background: url(../images/userlist1.png) 0 0 no-repeat;
    background-size: 538px*$zoom 716px*$zoom;
    width: 125px*$zoom;
    height: 168px*$zoom;
    display: inline-block;
  }
  .flip-over {
    bottom: 9.5%;
    width: 40%;
  }

}
.userlist2 {
  .btn-area a {
    background-image: url(../images/userlist2.png);
  }
}
